<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>SoluApp.SeleniumProofCase.ProofCase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assignAssessment_candidateProfilePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editCandidate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addCandidate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>viewCandidate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sendThankYouEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeCandidateLevel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>signIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkMail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assignAssessment_assignTestPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeCandidateAgain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addCandidateLevel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addSocialMedia</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createCandidate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteMail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addResourceType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkThankYouEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeResourceType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeCandidate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
